@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot?lpge4a');
    src: url('../fonts/Roboto-Regular.eot?lpge4a#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.ttf?lpge4a') format('truetype'),
        url('../fonts/Roboto-Regular.woff?lpge4a') format('woff'),
        url('../fonts/Roboto-Regular.svg?lpge4a#ap') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot?lpge4a');
    src: url('../fonts/Roboto-Bold.eot?lpge4a#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.ttf?lpge4a') format('truetype'),
        url('../fonts/Roboto-Bold.woff?lpge4a') format('woff'),
        url('../fonts/Roboto-Bold.svg?lpge4a#ap') format('svg');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot?lpge4a');
    src: url('../fonts/Roboto-Medium.eot?lpge4a#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.ttf?lpge4a') format('truetype'),
        url('../fonts/Roboto-Medium.woff?lpge4a') format('woff'),
        url('../fonts/Roboto-Medium.svg?lpge4a#ap') format('svg');
    font-weight: 500;
    font-style: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot?lpge4a');
    src: url('../fonts/Roboto-Light.eot?lpge4a#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.ttf?lpge4a') format('truetype'),
        url('../fonts/Roboto-Light.woff?lpge4a') format('woff'),
        url('../fonts/Roboto-Light.svg?lpge4a#ap') format('svg');
    font-weight: 300;
    font-style: 300;
}